body {
    text-align: justify;
}

.intro {
    p {
        line-height: 1.4rem;
    }

    h3 {
        line-height: 1.6rem;
        margin-bottom: 0.2rem;
        display: list-item;
        list-style-type: disclosure-closed;
        list-style-position: outside;
    }
}
